<mat-form-field class="list-selector">
  <mat-label>Lists</mat-label>
  <mat-select [formControl]="selectedListControl">
    @for (list of lists$(); track list.id) {
      <mat-option [value]="list.id">{{ list.title }}</mat-option>
    } @empty {
      <mat-option disabled>No todo lists</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-selection-list>
  @for (item of listItems$(); track item.id) {
    <mat-list-option
      [selected]="item.done"
      (selectedChange)="onItemChange(item.id, $event)"
    >
      {{ item.title }}
    </mat-list-option>
  }
</mat-selection-list>
